name: Tests

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        BUILD_TARGET: [release]
    outputs:
      release_built: ${{steps.set-output.putputs.release_built}}
    steps:
      - uses: actions/checkout@v4

      - name: Build binaries in "${{matrix.BUILD_TARGET}}" mode
        run: cargo build --verbose --profile "${{matrix.BUILD_TARGET}}"

      - name: Run tests in "${{matrix.BUILD_TARGET}}" mode
        run: cargo test --verbose --profile "${{matrix.BUILD_TARGET}}"

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

